#id1 {
    text-decoration-line: overline underline line-through;
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-style: wavy;
}

#id2 {
    text-decoration-color: rgb(81, 81, 215);
    text-decoration-line: line-through;
    text-decoration-style: double; 
}

#id3{
    text-decoration-line: overline;
    text-decoration-color: rgb(60, 110, 60);
    text-decoration-style: dotted;
}


#id4{
    text-transform:lowercase;
}

#id5{
    text-transform:uppercase;
}

#id6{
    text-transform:capitalize;
}